* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    border: 2px dashed #ccc;
    width: 100vw;
    height: 100vw;
}

.box {
    background-color: tomato;
}

#one {
    width: 200px;
    height: 50px;
    margin: 0px auto;
    margin-top: 150px;
    border-radius: 10px;
}

.titulo {
    color: thistle;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

#two {
    background-color: turquoise;
    width: 50%;
    margin: 0 auto;
    border-radius: 8px;
    min-height: 300px;
    position: relative;
    margin-top: -10px;
}

.texto {
    text-align: center;
    padding: 20px;
}