* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.container {
    height: 50vh;
    border: .3rem solid black;
    display: flex;
    flex-wrap: wrap;
}

.box {
    flex-basis: 10rem;
    flex-grow: 1;
    height: 10rem;
}

.box1 {
    background-color: lavender;
}

.box2 {
    background-color: lavenderblush;
}

.box3 {
    background-color: lemonchiffon;
}

.box4 {
    background-color: lawngreen;
}

.box5 {
    background-color: lightcoral;
}

.box6 {
    background-color: cadetblue;
}